@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/* Apply this to make sure the gradient animates smoothly */
body {
    background-size: 400% 400%;
    animation: moveGradient 10s ease-in-out infinite;
}